.astro_form_component {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $secondary;

    .astro_form_component_content {
        padding: 10px;
        width: 490px;
        height: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .astro_form_component_avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-bottom: 20px;

            img {
                width: 120px;
                height: 120px;
                border-radius: 60px;
            }
        }

        .astro_form_component_content_textfield {
            margin-right: 30px;

            input {
                border-radius: 40px;
                border: 1px solid $secondary;
                width: 220px;
                height: 55px;
                font-size: 13px;
                color: $light;
                font-family: Montserrat-Regular;
                line-height: 17px;
                padding-left: 70px;
                padding-right: 50px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.1);

                &:focus {
                    outline: 0;
                }
            }
        }

        .astro_form_component_content_textfield2 {
            margin-right: 30px;

            input {
                border: 1px solid $secondary;
                width: 310px;
                height: 55px;
                font-size: 13px;
                color: $light;
                font-family: Montserrat-Regular;
                line-height: 17px;
                padding-left: 20px;
                padding-right: 10px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.1);

                &:focus {
                    outline: 0;
                }
            }

            textarea {
                border: 1px solid $secondary;
                width: 310px;
                height: 200px;
                font-size: 13px;
                color: $light;
                font-family: Montserrat-Regular;
                line-height: 17px;
                padding: 10px 10px 10px 20px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.1);

                &:focus {
                    outline: 0;
                }
            }
        }

        .astro_button {
            margin-top: 20px;
            margin-left: -30px;
            font-family: Montserrat-Regular;
            font-size: 24px;
            color: $light;
            line-height: 29px;
            border: 0px;

            &:focus {
                outline: 0;
            }

            &:active {
                background-color: darken($primary, 10%);
            }
        }
    }

    //file input
  .file_input_wrapper {
        width: 220px;
        top: 0;
        left: 0;
        margin: 20px;
        cursor: pointer;
        overflow: hidden;
        padding: 20px 60px;
        text-align: center;
        position: relative;
        border: solid 1px $secondary;
        background-color: rgba(255, 255, 255, 0.1);
        .file_upload_label {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.6);
            font-family: Montserrat-Regular;
            line-height: 17px;
        }

        .upload_field {
            right: 0;
            margin: 0;
            bottom: 0;
            padding: 0;
            opacity: 0;
            height: 300px;
            outline: none;
            cursor: inherit;
            position: absolute;
            font-size: 1000px !important;
        }
    }
}
