.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: 14px Gotham-Light;
  font: 14px Montserrat-Regular;
  color: #FFF;
  text-align: center;
  //text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: $secondary;
  background-image: -webkit-gradient(linear, left top, left bottom, from($secondary), to($secondary));
  background-image: -webkit-linear-gradient(top, $secondary, $secondary);
  background-image:    -moz-linear-gradient(top, $secondary, $secondary);
  background-image:     -ms-linear-gradient(top, $secondary, $secondary);
  background-image:      -o-linear-gradient(top, $secondary, $secondary);
  color: #FFF;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid darken($secondary, 20);;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}
