.astro_main_content{
  font-family: Montserrat-Bold;
  overflow-x: hidden;
  width: 100%;
  margin-top: 60px;
  .astro_main_container{
    width: 100%;
    height: 100vh;
    margin-bottom: -60px;
    padding-right: 15px;
  }
}

.item_selected {
  border: 2px solid lighten($primary, 10%) !important;
  cursor: pointer;
}
