.astro_courses_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .astro_course_item_wrapper{
    border: 2px solid $footer;
    //width: 600px;
    width: 49.4%;
    display: flex;
    margin: 2px;
    flex-direction: row;
    .astro_course_item_info{
      width: 50%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .astro_course_item_title{
        font-family: Montserrat-Bold;
        font-size: 24px;
        color: $dark;
        line-height: 34px;
        display: block;
        margin-top: 60px;
        margin-left: 50px;
        margin-right: 50px;
      }
      .astro_course_item_bottom_info{
        display: flex;
        justify-content: space-between;
        //border: 1px solid #CCC;
        margin-bottom: 24px;
        .astro_course_item_bottom_info_lessons{
          margin-left: 30px;
          img{
            width :12px;
            height:15px;
          }
        }
        .astro_course_item_bottom_info_duration{
          margin-right: 30px;
          img{
            width:18px;
          }
        }
        span{
          display: flex;
          align-items: center;
          font-family: Montserrat-Regular;
          font-size: 13px;
          line-height: 13px;
          img{
            margin-right: 10px;
          }
        }
      }
    }
    .astro_course_item_img{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      img{
        width: 100%;
      }
    }
    &:hover{
      border: 2px solid lighten($primary, 10%);
      cursor: pointer;
    }
  }
}
