@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Gotham Book;
    src: url("/fonts/Gotham_Book.ttf");
}
@font-face {
    font-family: GOTHAM-BLACK;
    src: url("/fonts/GOTHAM-BLACK.TTF");
}
@font-face {
    font-family: GOTHAM-BLACKITALIC;
    src: url("/fonts/GOTHAM-BLACKITALIC.TTF");
}
@font-face {
    font-family: GOTHAM-BOLD;
    src: url("/fonts/GOTHAM-BOLD.TTF");
}
@font-face {
    font-family: GOTHAM-BOLDITALIC;
    src: url("/fonts/GOTHAM-BOLDITALIC.TTF");
}
@font-face {
    font-family: GOTHAM-LIGHT;
    src: url("/fonts/GOTHAM-LIGHT.TTF");
}
@font-face {
    font-family: GOTHAM-LIGHTITALIC;
    src: url("/fonts/GOTHAM-LIGHTITALIC.TTF");
}
@font-face {
    font-family: GOTHAM-MEDIUM;
    src: url("/fonts/GOTHAM-MEDIUM.TTF");
}
@font-face {
    font-family: GOTHAM-MEDIUMITALIC;
    src: url("/fonts/GOTHAM-MEDIUMITALIC.TTF");
}
@font-face {
    font-family: GOTHAM-THIN;
    src: url("/fonts/GOTHAM-THIN.TTF");
}
@font-face {
    font-family: GOTHAM-THINITALIC;
    src: url("/fonts/GOTHAM-THINITALIC.TTF");
}
@font-face {
    font-family: GOTHAM-ULTRA;
    src: url("/fonts/GOTHAM-ULTRA.TTF");
}
@font-face {
    font-family: GOTHAM-ULTRAITALIC;
    src: url("/fonts/GOTHAM-ULTRAITALIC.TTF");
}
@font-face {
    font-family: GOTHAM-XLIGHT;
    src: url("/fonts/GOTHAM-XLIGHT.TTF");
}
@font-face {
    font-family: GOTHAM-XLIGHTITALIC;
    src: url("/fonts/GOTHAM-XLIGHTITALIC.TTF");
}
