@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Gotham-Book;
    src: url("/fonts/Gotham_Book.ttf");
}
@font-face {
    font-family: Gotham-Black;
    src: url("/fonts/GOTHAM-BLACK.TTF");
}
@font-face {
    font-family: Gotham-Black-Italic;
    src: url("/fonts/GOTHAM-BLACKITALIC.TTF");
}
@font-face {
    font-family: Gotham-Bold;
    src: url("/fonts/GOTHAM-BOLD.TTF");
}
@font-face {
    font-family: Gotham-Gotham-Italic;
    src: url("/fonts/GOTHAM-BOLDITALIC.TTF");
}
@font-face {
    font-family: Gotham-Light;
    src: url("/fonts/GOTHAM-LIGHT.TTF");
}
@font-face {
    font-family: Gotham-Light-Italic;
    src: url("/fonts/GOTHAM-LIGHTITALIC.TTF");
}
@font-face {
    font-family: Gotham-Medium;
    src: url("/fonts/GOTHAM-MEDIUM.TTF");
}
@font-face {
    font-family: Gotham-Medium-Italic;
    src: url("/fonts/GOTHAM-MEDIUMITALIC.TTF");
}
@font-face {
    font-family: Gotham-Thin;
    src: url("/fonts/GOTHAM-THIN.TTF");
}
@font-face {
    font-family: Gotham-Thin-Italic;
    src: url("/fonts/GOTHAM-THINITALIC.TTF");
}
@font-face {
    font-family: Gotham-Ultra;
    src: url("/fonts/GOTHAM-ULTRA.TTF");
}
@font-face {
    font-family: Gotham-Ultra-Italic;
    src: url("/fonts/GOTHAM-ULTRAITALIC.TTF");
}
@font-face {
    font-family: Gotham-X-Light;
    src: url("/fonts/GOTHAM-XLIGHT.TTF");
}
@font-face {
    font-family: Gotham-X-Light-Italic;
    src: url("/fonts/GOTHAM-XLIGHTITALIC.TTF");
}
