.astro_header{
  background-image: url(img/hero.png) ;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('img/hero.png');
  background-size: 100% 683px;
  background-repeat: no-repeat;
  background-position: center -150px;
  background-color: $secondary;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
  .astro_legend{
    font-family: Montserrat-Bold;
    font-size: 46px;
    color: #FFFFFF;
    line-height: 57px;
    //margin-bottom: 50px
  }
  .astro_techs{
    margin-top: 106px
  }
  .astro_button{
    margin-top: 40px;
  }
  section{
    align-items: center;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  }
}
