.astro_login{
  align-items: center;
  display: flex;
  flex-flow: column;
  img{
    margin-top: 10px;
  }
  h2{
    /* LOGIN: */
    font-family: Gotham-Medium;
    font-size: 20px;
    color: $primary;
    line-height: 24px;
    margin-top: 8px;
  }
  .github{
    margin-top: 48px;
  }
  .twitter{
    margin-top: 35px;
  }
}
