.astro_login{
  align-items: center;
  display: flex;
  flex-flow: column;
  img{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h2{
    /* LOGIN: */
    font-family: Gotham-Medium;
    font-size: 20px;
    color: $primary;
    line-height: 24px;
    margin-top: 8px;
  }
  section{
    h2{
      //text-align: center;
      font-size: 14px;
    }
  }
  .github{
    margin-top: 20px;
  }
  .twitter{
    margin-top: 20px;
  }
}
