.astro_form_component{
  .user_name {
    input {
      background: url(img/username.png) no-repeat scroll 22px 13px rgba(255, 255, 255, 0.1);
      background-size: 32px;
    }
  }
  .email {
    input{
      background: url(img/email.png) no-repeat scroll 25px 15px rgba(255, 255, 255, 0.1);
      background-size: 28px 25px;
    }
  }
}
