/* For mobile phones: */
@media only screen and (max-width: 836px) {
  .astro_courses_list {
    .astro_course_item_wrapper {
      width: 99% !important;
    }
  }
  .astro_header {
    .astro_legend {
      font-size: 40px;
    }
  }
  .astro_lessons_layout {
    .astro_lesson_course_info{
      display: none;
    }
  }
  .astro_payment {
    .astro_payment_container {
      flex-direction: column;
      height: 100%;
      .astro_payment_left_container {
        width: 100%;
        background-image:none;
        background-color: $secondary;
        border-radius: 0px;
      }
      .astro_payment_right_container {
        width: 100%;
        height: 400px;
        flex:none;
        //border: 3px red solid;
        h1 {
          color: $secondary;
        }
      }
    }
  }
}
/*
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
*/
