.astro-tos{
  color: darken($light, 30);
  font-family: Gotham-Book;
  font-size: 12px;
  line-height: 14px;
  margin-top: 15px;
  margin-left: -15px;
  cursor: pointer;
}
.tos {
  display: flex;
  align-items: center;
  height: 92vh;
  width: 100%;
  flex-direction: column;
  font-family: Gotham-Book;
  overflow: scroll;
  margin-top: 60px;
  h1 {
    font-size: 40px;
    line-height: 57px;
    width: 960px;
    margin-top: 10px;
  }
  h2 {
    font-size: 30px;
    line-height: 47px;
    text-align: left;
    float: left;
    width: 960px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
    line-height: 30px;
    width: 960px;
  }
  ol{
    list-style-type:circle;
    width: 860px;
    li {
      line-height: 27px;
    }
  }
}
