.astro_video_hero{
  color: $light;
  display: flex;
  background-color: $dark;
  width: 100%;
  height: 600px;
  span{
    position: relative;
    top:50%;
    left:50%;
    margin-left: -70px;
    margin-top: -70px;
    img{
      width: 140px;
      height: 140px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  div{
    margin-top: 428px;
    h2{
      font-size: 46px;
      line-height: 56px;
      text-transform: uppercase;
    }
    p{
      font-size: 24px;
      line-height: 29px;
    }
  }
}
.astro_video_comments_info{
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  span{
    margin-left: 68px;
    font-size: 40px;
    color: $light;
    line-height: 49px;
    text-transform: uppercase;
  }
  ul{
    display: flex;
    color: $light;
    margin-right: 48px;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $secondary;
      opacity: 0.3;
      width: 100px;
      height: 36px;
      font-size: 11px;
      line-height: 14px;
      margin: 0 20px 0 20px;
      &:hover{
        opacity: 0.9;
        cursor: pointer;
        border: 1px solid #FFFFFF;
        border-radius: 50px;
      }
    }
  }
  .astro_video_comments_info_selected{
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
  }
}
.astro_video{
  background-color: $dark;
  display: none;
  width: 100%;
  height: 600px;
}
