@import "reset";
@import "vars";
@import "fonts";

@import "components/button";
@import "components/toolbar";
@import "components/loader";
@import "components/form";
@import "dialog";
@import "header";
@import "login";
@import "app";
@import "courses";
@import "lessons";
@import "video";
@import "comments";
@import "footer";
@import "payment";

@import "responsive";

//Admin styles
@import "admin/actionsToolbar";

html, body{
    overflow:hidden;
}
/**
 * De-emphasizing by blurring (AND dimming)
 */
main {
	transition: .6s;
	background: white;
	overflow: auto;
	height: 100vh;
	width: 100%;
}

main.de-emphasized {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
